{% extends 'header_footer.html' %}

{% block content %}
<body class="body"> 
<div class="container">

    <div class="row text-center">
        <div class="col-md-12">
            <div class="imagen-temporada">
                <h1>Temporada {{ temporada.anyo }} de Fórmula 1</h1>
                <img class="img-thumbnail" src="{{ temporada.imagenHistorica }}">
            </div>
        </div>
    </div>
        
    
    <div class="row text-center">
        <table border="1" style="background-color:white">
            <tr>
                <th>Posición</th>
                <th>Nombre</th>
                <th>Equipo</th>
                <th>Puntos</th>
            </tr>
            {% for piloto in mundialPilotos %}
            <tr>
                <td>{{ piloto.posicion }}</td>
                <td>{{ piloto.nombre }}</td>
                <td>{{ piloto.equipo }}</td>
                <td>{{ piloto.puntos }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="b" style="float: right;"></div>

</div>
</body>    
{% endblock %}