{% extends 'header_footer.html' %}

{% block content %}
<body class="body"> 
<div class="container">

    <div class="row text-center" id="infoCircuitoRow">
        <div class="col-md-5">
            <div class="imagen-trazado">
                <img class="img-thumbnail" src="{{ piloto.imagen }}">
            </div>
        </div>

        <div class="col-md-5">
            <div class="card detalles-circuito">
                <h2> {{ piloto.nombre|title }} </h2>
                <br>
                <table>
                    <tr>
                        <th>País</th>
                        <th>Victorias</th>
                        <th>Podios</th>
                        <th>Campeonatos</th>
                    </tr>
                    <tr>
                        <td>{{ piloto.pais }}</td>
                        <td>{{ piloto.victoriasHistorico }}</td>
                        <td>{{ piloto.podiosHistorico }}</td>
                        <td>{{ numeroMundiales }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row text-center" id="infoCircuitoRow">
        <div class="card detalles-entidad">
            <table>
                <tr>
                    <th>Campeonatos (años)</th>
                    <th>Equipos</th>
                </tr>
                <tr>
                    <td>{% for m in listaMundiales %}
                        {{ m }}
                        <br>
                        {% endfor %}
                    </td>
                    <td>{% for e in equiposDelPiloto %}
                        <a href="/equipo/{{ e.id }}">
                            {{ e.nombre|title }}
                        </a>
                        <br>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row votar-row text-center">
        <h5>¿Te gusta {{ piloto.nombre|title }}?</h5>
        <form method="post" action="{% url 'votar_objeto' modelo="piloto" objeto_id=piloto.id %}">
            {% csrf_token %}
            {% if siHaVotado %}
                <button class="btn boton-votar" type="submit" name="accion" value="vota_no">
                    <i class="bi bi-heart-fill"></i> {% comment %} Ya no me gusta {% endcomment %}
                </button>
            {% else %}
                <button class="btn boton-votar" type="submit" name="accion" value="vota_si">
                    <i class="bi bi-heart"></i> {% comment %} ¡Me gusta! {% endcomment %}
                </button>
            {% endif %}
        </form>
    </div>

</div>
</body>    
{% endblock %}