{% extends 'header_footer.html' %}

{% block content %}
<body class="body"> 
<div class="container">

    <div class="row text-center" id="infoCircuitoRow">
        <div class="col-md-5">
            <div class="imagen-trazado">
                <img class="img-thumbnail" src="{{ equipo.imagen }}">
            </div>
        </div>

        <div class="col-md-5">
            <div class="card detalles-circuito">
                <h2> {{ equipo.nombre|title }} </h2>
                <br>
                <table>
                    <tr>
                        <th>País</th>
                        <th>Victorias</th>
                        <th>Podios</th>
                        <th>Campeonatos</th>
                    </tr>
                    <tr>
                        <td>{{ equipo.pais }}</td>
                        <td>{{ equipo.victoriasHistorico }}</td>
                        <td>{{ equipo.podiosHistorico }}</td>
                        <td>{{ numeroMundiales }}</td>
                    </tr>
                </table>
            </div>

            <br>

            <div class="row votar-row text-center">
                <h5>¿Te gusta {{ equipo.nombre|title }}?</h5>
                <form method="post" action="{% url 'votar_objeto' modelo="equipo" objeto_id=equipo.id %}">
                    {% csrf_token %}
                    {% if siHaVotado %}
                        <button class="btn boton-votar" type="submit" name="accion" value="vota_no">
                            <i class="bi bi-heart-fill"></i> {% comment %} Ya no me gusta {% endcomment %}
                        </button>
                    {% else %}
                        <button class="btn boton-votar" type="submit" name="accion" value="vota_si">
                            <i class="bi bi-heart"></i> {% comment %} ¡Me gusta! {% endcomment %}
                        </button>
                    {% endif %}
                </form>
            </div>        
        </div>

    </div>

    <div class="row text-center" id="infoCircuitoRow">
        <div class="card detalles-circuito">
            <table>
                <tr>
                    <th>Campeonatos (años)</th>
                    {% comment %} <th>Equipos</th> {% endcomment %}
                </tr>
                <tr>
                    <td>{% for m in listaMundiales%}
                        {{ m }}
                        <br>
                        {% endfor %}
                    </td>
                    {% comment %} <td>{% for e in equiposDelPiloto %}
                        {{ e.pais|title }},{% endfor %}
                    </td> {% endcomment %}
                </tr>
            </table>
        </div>
    </div>

    
</div>
</body>    
{% endblock %}