{% extends 'header_footer.html' %}

{% block content %}
<body class="body"> 
<div class="container">

    <div class="row text-center" id="infoCircuitoRow">
        <div class="col-md-5">
            <div class="imagen-trazado">
                <img class="img-thumbnail" src="{{ cir.imagen }}">
            </div>
        </div>

        <div class="col-md-5">
            <div class="card detalles-circuito">
                <h2> {{ cir.nombre }} </h2>
                <br>
                <table>
                    <tr>
                        <th>Tipo</th>
                        <th>Pais</th>
                        <th>Grandes Premios</th>
                        <th>Longitud</th>
                    </tr>
                    <tr>
                        <td>{{ cir.tipo|title }}</td>
                        <td>{{ cir.pais }}</td>
                        <td>{{ cir.edicionesDisputadas }}</td>
                        <td>{{ cir.longitud }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row votar-row">
        <form method="post" action="{% url 'votar_objeto' modelo="circuito" objeto_id=cir.id %}">
            {% csrf_token %}
            <button type="submit" name="accion" value="vota_si">¡Me gusta!</button>
        </form>
        
    </div>

    <div class="b" style="float: right;"></div>

</div>
</body>    
{% endblock %}