{% extends 'header_footer.html' %}

{% block content %}
<body class="body"> 
<div class="container">
    <br>
    <div class="row">
        <div class="d-flex flex-column container text-justify">
    
            <h1>Términos y Condiciones de Uso</h1>
            <p class="text-justify mt-3">Bienvenido al sitio web Fórmula World. Estos Términos y Condiciones establecen los términos legales que rigen su acceso y uso de nuestro sitio web. Al acceder y utilizar nuestro sitio web, acepta estos Términos y Condiciones en su totalidad. Si no está de acuerdo con estos Términos y Condiciones, no use nuestro sitio web.</p>
            
            <h3 class="mt-4">1. Propiedad del sitio web</h3>  
            <p>El sitio web Fórmula World es propiedad de la Universidad de Sevilla, tratándose éste de un proyecto de fin de grado. Todos los derechos sobre el sitio web y su contenido son propiedad de la Universidad de Sevilla. El sitio web está protegido por las leyes de derechos de autor y de propiedad intelectual. Queda estrictamente prohibido cualquier uso no autorizado de este sitio web o de su contenido.</p>
        
            <h3 class="mt-4">2. Tratamiento de datos personales.</h3>
            <p>En cumplimiento de lo dispuesto en la Ley Orgánica de Protección de Datos Personales, Fórmula World se compromete a proteger y tratar con confidencialidad los datos personales que los usuarios proporcionen al sitio web. El usuario acepta que Fórmula World recopile y procese sus datos personales de acuerdo con nuestra Política de Privacidad. En la página de <a href="/gdpr">Tratamiento de Datos</a>, se incluye información sobre los derechos que el usuario tiene sobre sus información.</p>
            
            <h3 class="mt-4">3. Uso del sitio web</h3>
            <p>El uso del sitio web Fórmula World está sujeto a estos Términos y Condiciones. Usted se compromete a utilizar nuestro sitio web de manera legal y ética, y a no utilizarlo para fines ilícitos. También se compromete a no utilizar nuestro sitio web para enviar o publicar contenido que sea ilegal, ofensivo, difamatorio, o que viole los derechos de terceros.</p>
        
            <h3 class="mt-4">4. Propiedad intelectual</h3>
            <p>El sitio web Fórmula World contiene material protegido por derechos de autor, marcas registradas y otras formas de propiedad intelectual. Este material es propiedad de Fórmula World o de sus respectivos propietarios. Usted acepta no copiar, modificar, distribuir o reproducir el contenido de nuestro sitio web sin nuestra autorización por escrito.</p>
        
            <h3 class="mt-4">5. Modificaciones</h3>  
            <p>Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento. Se le notificará cualquier cambio en nuestros Términos y Condiciones publicando los cambios en nuestro sitio web. Si no está de acuerdo con los cambios, debe dejar de usar nuestro sitio web.</p>
        
            <h3 class="mt-4">6. Ley aplicable</h3>
            <p>Estos Términos y Condiciones se rigen por la legislación vigente en el país de España, y cualquier disputa que surja en relación con estos Términos y Condiciones se resolverá exclusivamente en los tribunales del país de España.</p>
        
        <h4 class="mt-3">Al utilizar nuestro sitio web, acepta estos Términos y Condiciones de uso.</h4>
        
        </div>
    </div>
    

</div>
</div>
{% endblock %}